
<style type="text/css">
.carousel-inner .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Pharos e-Dashboard</h1>
    <h2>기존 대시보드를 이제 재개발하지 마세요. (두번째 작품)</h2>
    <br>
    <div id="myCarousel" class="carousel slide">

        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="img/edashboard.gif" alt="아키텍쳐" />
            </div>
            <div class="item">
                <img src="img/edashboard-2.png" alt="빌더" />
            </div>
            <div class="item">
                <img src="img/edashboard-2.gif" alt="구축 예" />
            </div>
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <p>Pharos Dashboard는 기존 개별적 개발 의존적인 대시보드 구축 방식을 획기적으로 개선하여 프레임워크 기반의 솔루션 형태로 제공합니다. 구축 기간 단축은 물론 지속적인 요구사항 변경 발생 시 신속한 수정이 가능하게 되어 구축 비용 뿐만 아니라 운영 유지비용의 절감효과를 보장합니다. 또한, 다이나믹하며 역동적인 UI 제공을 통해 운영 효율성을 극대화합니다.</p>


    <p><a href="http://www.ufinite.com/sub.php?page=2#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>

</div>

