
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>안녕하세요 윤영식입니다</h1>
    <br>
    <p><h2>사람들이 인위적인 작업을 덜 하면 더 행복해 질 수 있다고 믿습니다 </h2>
    <br>
    <ul>
        <li>세상은 <a href="http://mobicon.tistory.com">모바일 컨버젼스 기술</a>을 필요로 합니다. </li>
        <li><a href="http://www.facebook.com/groups/smartdashboard">Facebook Group</a>에서 이야기하고 있습니다.</li>
        <li>싸이클을 사랑합니다.</li>
        <li>인간에게 이로운 소프트웨어를 계속 만드는 것을 업으로 삼고 있습니다.</li>
        <li>e-mail : nulpulum@gmail.com</li>
        <li>facebook : <a href="http://www.facebook.com/nulpulum">http://www.facebook.com/nulpulum</a>
        <li>twitter : @nulpulum
    </ul>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/screen1.jpg"  alt="screen1"></a>
        <h2>Smart Dashboard</h2>
        <p>MEAN Stack은 MongoDB, Express, AngularJS, NodeJS의 약어이다. 이는 모던 웹앱을 만들수 있는 기술이며 사용자 서비스를 빠르게 만들수 있는 환경이다. Smart Dashboard는 사용자 서비스를 Job Less, Feel More라는 가치아래 만들어진다. 작업은 적게 행복감은 더 줄 수 있기를 바란다. -세번째 제품 진행중-</p>
        <p><a class="btn" href="#/smartdashboard">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/screen2.jpg"  alt="screen2"></a>
        <h2>Pharos e-Dashboard</h2>
        <p>Flex기반으로 미려한 차트 대시보드를 만들어 준다. 왜 사용자는 변경이 발생할 때마다 SI식의 재개발을 해야 하는가? 여러분 스스로 쉽게 대시보드를 변경하고 싶지 않은가? 좀 더 빠르게 여러분의 정보를 모니터링 해보자. -두번째 제품 GS인증-</p>
        <p><a class="btn" href="#/edashboard">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <a href="#" class="thumbnail"><img src="img/screen3.jpg"  alt="screen3"></a>
        <h2>Pharos Java</h2>
        <p>WAS에서 운영되는 Application의 성능정보를 모니터링, 분석할 수 있다. Access 로그정보만 보던 것에서 애플리케이션 내부에서 수행되는 상세정보를 이제 분석해 보세요. -첫번째 제품 GS인증-</p>
        <p><a class="btn" href="#/pharosjava">View details &raquo;</a></p>
    </div>
</div>

