
<style type="text/css">
.carousel-inner .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Pharos Java</h1>
    <h2>더 이상 애플리케이션 성능으로 고민하지 마세요. (첫번째 작품)</h2>
    <br>
    <div id="myCarousel" class="carousel slide">

        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="img/pharosjava-1.gif" alt="screen 1" />
            </div>
            <div class="item">
                <img src="img/pharosjava-4.gif" alt="screen 2" />
            </div>
            <div class="item">
                <img src="img/pharosjava-3.gif" alt="screen 3" />
            </div>
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <p>Pharos Java는 Java 어플리케이션을 실시간으로 모니터링하고, 다양한 통계 분석자료를 제공해주는 솔루션으로써 필요한 순간에 필요한 정보를 빠르고 쉽게 인지하고 장애의 근본 원인을 도출하여 성능 개선을 도와주는 APM 솔루션 입니다.</p>


    <p><a href="http://www.ufinite.com/sub.php?page=2#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>

</div>

