
<style type="text/css">
.carousel-inner .item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Smart Dashboard</h1>
    <h2>Job Less, Feel More - 더 적은 작업이 더 많은 행복감을 줍니다 -</h2>
    <br>
    <div id="myCarousel" class="carousel slide">

        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="img/smartdashboard-1.jpg" alt="Smart Dashboard RealTime View 1" />
            </div>
            <div class="item">
                <img src="img/smartdashboard-3.jpg" alt="Smart Dashboard RealTime View 2" />
            </div>
            <div class="item">
                <img src="img/smartdashboard-5.jpg" alt="Smart Dashboard Builder" />
            </div>
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <p>Smart Dashboard는 인위적인 작업을 최소로 하면서 더 많은 만족감을 드리고자 합니다. 사용자가 어느 디바이스에서든 정보를 빠르게 표현하고 쉽게 접근할 수 있도록 해줍니다. 모던 웹앱기술을 바탕으로 PC를 넘어서 HTML5가 구동되는 모든 환경에서 사용이 가능합니다.</p>


    <p><a href="http://www.facebook.com/groups/smartdashboard" class="btn btn-primary btn-large">Learn more &raquo;</a></p>

</div>

